* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #a0b0af; 
}

/* Style the header */
.header {
  /*background-color: #f1f1f1;*/
  padding: 10px;
  text-align: center;
  background-image: url(img/12.jpg);
}

/* Style the top navigation bar */
.topnav {
  justify-content: center;
  display: flex;
  overflow: hidden;
  background-color: #123f34;
}
*{
  box-sizing: border-box;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  float: left;
}
ol{
  list-style: lower-norwegian;
}
fieldset,legend{
  border: grey groove 3px;
  border-radius: 10px;
}
legend{
  font-weight: bold;
  font-size: 10pt;
}
h2{
  text-align: center;
}
th{
  font-size: 12pt;
}
img{
  width: 55%;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; /*membersihkan float left sebelumnya*/
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #346865;
  padding: 10px;
  text-align: center;
}
div#footer{
  text-align: center;
  padding: 20px;
}
/*pseudo class dan id*/
a.item:link, a.item:active, a.item:visited{ /*untuk link*/
  text-decoration: none;
  color: white;
  font-size:14pt;
  padding: 5px;
}
a.item:hover{ /*merubah klik*/
  text-decoration: none;
  color: #49e2e8;
  font-size:14pt;
  padding: 5px;
  background:;
}